:root {
  --tw-slate-0: #f8fafc;
  --tw-slate-1: #f1f5f9;
  --tw-slate-2: #e2e8f0;
  --tw-slate-3: #cbd5e1;
  --tw-slate-4: #94a3b8;
  --tw-slate-5: #64748b;
  --tw-slate-6: #475569;
  --tw-slate-7: #334155;
  --tw-slate-8: #1e293b;
  --tw-slate-9: #0f172a;
  --tw-gray-0: #f9fafb;
  --tw-gray-1: #f3f4f6;
  --tw-gray-2: #e5e7eb;
  --tw-gray-3: #d1d5db;
  --tw-gray-4: #9ca3af;
  --tw-gray-5: #6b7280;
  --tw-gray-6: #4b5563;
  --tw-gray-7: #374151;
  --tw-gray-8: #1f2937;
  --tw-gray-9: #111827;
  --tw-zinc-0: #fafafa;
  --tw-zinc-1: #f4f4f5;
  --tw-zinc-2: #e4e4e7;
  --tw-zinc-3: #d4d4d8;
  --tw-zinc-4: #a1a1aa;
  --tw-zinc-5: #71717a;
  --tw-zinc-6: #52525b;
  --tw-zinc-7: #3f3f46;
  --tw-zinc-8: #27272a;
  --tw-zinc-9: #18181b;
  --tw-neutral-0: #fafafa;
  --tw-neutral-1: #f5f5f5;
  --tw-neutral-2: #e5e5e5;
  --tw-neutral-3: #d4d4d4;
  --tw-neutral-4: #a3a3a3;
  --tw-neutral-5: #737373;
  --tw-neutral-6: #525252;
  --tw-neutral-7: #404040;
  --tw-neutral-8: #262626;
  --tw-neutral-9: #171717;
  --tw-stone-0: #fafaf9;
  --tw-stone-1: #f5f5f4;
  --tw-stone-2: #e7e5e4;
  --tw-stone-3: #d6d3d1;
  --tw-stone-4: #a8a29e;
  --tw-stone-5: #78716c;
  --tw-stone-6: #57534e;
  --tw-stone-7: #44403c;
  --tw-stone-8: #292524;
  --tw-stone-9: #1c1917;
  --tw-red-0: #fef2f2;
  --tw-red-1: #fee2e2;
  --tw-red-2: #fecaca;
  --tw-red-3: #fca5a5;
  --tw-red-4: #f87171;
  --tw-red-5: #ef4444;
  --tw-red-6: #dc2626;
  --tw-red-7: #b91c1c;
  --tw-red-8: #991b1b;
  --tw-red-9: #7f1d1d;
  --tw-orange-0: #fff7ed;
  --tw-orange-1: #ffedd5;
  --tw-orange-2: #fed7aa;
  --tw-orange-3: #fdba74;
  --tw-orange-4: #fb923c;
  --tw-orange-5: #f97316;
  --tw-orange-6: #ea580c;
  --tw-orange-7: #c2410c;
  --tw-orange-8: #9a3412;
  --tw-orange-9: #7c2d12;
  --tw-amber-0: #fffbeb;
  --tw-amber-1: #fef3c7;
  --tw-amber-2: #fde68a;
  --tw-amber-3: #fcd34d;
  --tw-amber-4: #fbbf24;
  --tw-amber-5: #f59e0b;
  --tw-amber-6: #d97706;
  --tw-amber-7: #b45309;
  --tw-amber-8: #92400e;
  --tw-amber-9: #78350f;
  --tw-yellow-0: #fefce8;
  --tw-yellow-1: #fef9c3;
  --tw-yellow-2: #fef08a;
  --tw-yellow-3: #fde047;
  --tw-yellow-4: #facc15;
  --tw-yellow-5: #eab308;
  --tw-yellow-6: #ca8a04;
  --tw-yellow-7: #a16207;
  --tw-yellow-8: #854d0e;
  --tw-yellow-9: #713f12;
  --tw-lime-0: #f7fee7;
  --tw-lime-1: #ecfccb;
  --tw-lime-2: #d9f99d;
  --tw-lime-3: #bef264;
  --tw-lime-4: #a3e635;
  --tw-lime-5: #84cc16;
  --tw-lime-6: #65a30d;
  --tw-lime-7: #4d7c0f;
  --tw-lime-8: #3f6212;
  --tw-lime-9: #365314;
  --tw-green-0: #f0fdf4;
  --tw-green-1: #dcfce7;
  --tw-green-2: #bbf7d0;
  --tw-green-3: #86efac;
  --tw-green-4: #4ade80;
  --tw-green-5: #22c55e;
  --tw-green-6: #16a34a;
  --tw-green-7: #15803d;
  --tw-green-8: #166534;
  --tw-green-9: #14532d;
  --tw-emerald-0: #ecfdf5;
  --tw-emerald-1: #d1fae5;
  --tw-emerald-2: #a7f3d0;
  --tw-emerald-3: #6ee7b7;
  --tw-emerald-4: #34d399;
  --tw-emerald-5: #10b981;
  --tw-emerald-6: #059669;
  --tw-emerald-7: #047857;
  --tw-emerald-8: #065f46;
  --tw-emerald-9: #064e3b;
  --tw-teal-0: #f0fdfa;
  --tw-teal-1: #ccfbf1;
  --tw-teal-2: #99f6e4;
  --tw-teal-3: #5eead4;
  --tw-teal-4: #2dd4bf;
  --tw-teal-5: #14b8a6;
  --tw-teal-6: #0d9488;
  --tw-teal-7: #0f766e;
  --tw-teal-8: #115e59;
  --tw-teal-9: #134e4a;
  --tw-cyan-0: #ecfeff;
  --tw-cyan-1: #cffafe;
  --tw-cyan-2: #a5f3fc;
  --tw-cyan-3: #67e8f9;
  --tw-cyan-4: #22d3ee;
  --tw-cyan-5: #06b6d4;
  --tw-cyan-6: #0891b2;
  --tw-cyan-7: #0e7490;
  --tw-cyan-8: #155e75;
  --tw-cyan-9: #164e63;
  --tw-sky-0: #f0f9ff;
  --tw-sky-1: #e0f2fe;
  --tw-sky-2: #bae6fd;
  --tw-sky-3: #7dd3fc;
  --tw-sky-4: #38bdf8;
  --tw-sky-5: #0ea5e9;
  --tw-sky-6: #0284c7;
  --tw-sky-7: #0369a1;
  --tw-sky-8: #075985;
  --tw-sky-9: #0c4a6e;
  --tw-blue-0: #eff6ff;
  --tw-blue-1: #dbeafe;
  --tw-blue-2: #bfdbfe;
  --tw-blue-3: #93c5fd;
  --tw-blue-4: #60a5fa;
  --tw-blue-5: #3b82f6;
  --tw-blue-6: #2563eb;
  --tw-blue-7: #1d4ed8;
  --tw-blue-8: #1e40af;
  --tw-blue-9: #1e3a8a;
  --tw-indigo-0: #eef2ff;
  --tw-indigo-1: #e0e7ff;
  --tw-indigo-2: #c7d2fe;
  --tw-indigo-3: #a5b4fc;
  --tw-indigo-4: #818cf8;
  --tw-indigo-5: #6366f1;
  --tw-indigo-6: #4f46e5;
  --tw-indigo-7: #4338ca;
  --tw-indigo-8: #3730a3;
  --tw-indigo-9: #312e81;
  --tw-violet-0: #f5f3ff;
  --tw-violet-1: #ede9fe;
  --tw-violet-2: #ddd6fe;
  --tw-violet-3: #c4b5fd;
  --tw-violet-4: #a78bfa;
  --tw-violet-5: #8b5cf6;
  --tw-violet-6: #7c3aed;
  --tw-violet-7: #6d28d9;
  --tw-violet-8: #5b21b6;
  --tw-violet-9: #4c1d95;
  --tw-purple-0: #faf5ff;
  --tw-purple-1: #f3e8ff;
  --tw-purple-2: #e9d5ff;
  --tw-purple-3: #d8b4fe;
  --tw-purple-4: #c084fc;
  --tw-purple-5: #a855f7;
  --tw-purple-6: #9333ea;
  --tw-purple-7: #7e22ce;
  --tw-purple-8: #6b21a8;
  --tw-purple-9: #581c87;
  --tw-fuchsia-0: #fdf4ff;
  --tw-fuchsia-1: #fae8ff;
  --tw-fuchsia-2: #f5d0fe;
  --tw-fuchsia-3: #f0abfc;
  --tw-fuchsia-4: #e879f9;
  --tw-fuchsia-5: #d946ef;
  --tw-fuchsia-6: #c026d3;
  --tw-fuchsia-7: #a21caf;
  --tw-fuchsia-8: #86198f;
  --tw-fuchsia-9: #701a75;
  --tw-pink-0: #fdf2f8;
  --tw-pink-1: #fce7f3;
  --tw-pink-2: #fbcfe8;
  --tw-pink-3: #f9a8d4;
  --tw-pink-4: #f472b6;
  --tw-pink-5: #ec4899;
  --tw-pink-6: #db2777;
  --tw-pink-7: #be185d;
  --tw-pink-8: #9d174d;
  --tw-pink-9: #831843;
  --tw-rose-0: #fff1f2;
  --tw-rose-1: #ffe4e6;
  --tw-rose-2: #fecdd3;
  --tw-rose-3: #fda4af;
  --tw-rose-4: #fb7185;
  --tw-rose-5: #f43f5e;
  --tw-rose-6: #e11d48;
  --tw-rose-7: #be123c;
  --tw-rose-8: #9f1239;
  --tw-rose-9: #881337;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: hsla(60, 4.761904761904756%, 95.88235294117648%, 1); */
  color: var(--tw-gray-8);
  background-color: var(--tw-gray-1);
  font-family: "Assistant", 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* Navbar Styling */
.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px 0.5px var(--tw-slate-2);
  z-index: 10;
}
.title-name {
  /* font-family: "Roboto Slab"; */
  font-weight: 700;
  font-size: 1.1rem;
}
.links-div {
  display: flex;
  align-items: center;
}
.navbar-navlink {
  color: black;
  font-size: 14px;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navbar-navlink:nth-of-type(1) {
  margin-right: 2rem;
}
.links-div .active {
  color: var(--tw-cyan-6);
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* About - Intro Section */
.about-main h1 {
  font-size: 1.5rem;
  margin: 20px 0;
}
.about-main p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.section-div {
  padding: 60px 90px 50px;
  background-color: white;
}
.about-intro-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.intro-title-text {
  width: 70%;
}
.intro-title-text h1 {
  font-size: 2rem;
  margin: 20px 0;
}
.about-intro-image {
  background-image: url("../images/portrait2.jpg");
  background-position: 205px -18px;
  background-size: 250px;
  height: 155px;
  width: 155px;
  border-radius: 50%;
  border: 5px solid var(--tw-gray-2);
  margin-right: 1rem;
}
.about-socials-section {
  color: var(--tw-gray-6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0 0;
}
.about-socials-section .socials-icon {
  margin-right: 2.5rem;
}
.about-socials-section .fa-envelope {
  margin-right: 16px;
}
.email-copy-div {
  position: relative;
}
.copy-notice {
  position: absolute;
  top: -30px;
  left: 60px;
}
.email-copy-div p {
  font-size: 0.9rem;
}
.about-intro-email {
  cursor: pointer;
  font-size: 1rem !important;
  font-weight: 600;
}
.about-intro-email:hover {
  color: var(--tw-cyan-7);
}


/* About - Skills Section */
.section-div:nth-of-type(2) {
  background-color: var(--tw-sky-0);
}
.skills-table {
  display: flex;
  flex-direction: column;
}
.skills-btn-div {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skill-btn {
  cursor: pointer;
  background-color: white;
  border: none;
  font-weight: 600;
  margin: 6px;
  padding: 6px;
}
.skill-btn:hover {
  background-color: var(--tw-gray-2);
  border-radius: 10px;
}
.active-skill-btn {
  background-color: var(--tw-gray-2);
  border-radius: 10px;
}

/* About - Myself Section */



/* About Contact Section */
.footer-div {
  background-color: var(--tw-stone-1);
  width: 100%;
}
.contact-details {
  padding: 100px 150px 100px;
}

/* Portfolio Styles */
.folio-main {
  margin-top: 90px;
  padding: 100px 150px 150px;
  width: 100%;
  min-height: 600px;
}
.project-div {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}
.project-image {
  background-color: var(--tw-gray-4);
  height: 50px;
  width: 40%;
  margin-right: 2rem;
}


@media (max-width: 800px) {
  .skills-table {
    flex-direction: row;
  }
  .skills-btn-div {
    flex-direction: column;
    width: min-content;
  }
}









/* .App{
  color: white;
  width: max-content;
  margin: 200px auto;
  display: flex;
    flex-direction: column;
}
.fa-person-digging{
  color: var(--oc-yellow-5);
  margin: 30px;
  align-self: center;
}
.App p {
  font-size: 1.1rem;
}
.App a {
  color: var(--oc-blue-2);
  font-size: 1.1rem;
  margin-right: 20px;
} */



